body {
  background-color: #ffffff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



a {
  text-decoration: none;
  color: black;
}

a:active {
  color: black;
}

a:hover {
  color: black;
}

button:focus {
  outline: none;
}

.modal-button:hover {
  cursor: pointer;
}

@font-face {
  font-family: NeueMontreal;
  src: url(/src/static/fonts/NeueMontreal-Regular.otf);
}

@font-face {
  font-family: NeueMontrealLight;
  src: url(/src/static/fonts/NeueMontreal-Light.otf);
}

@font-face {
  font-family: NMBold;
  src: url(/src/static/fonts/NeueMontreal-Bold.otf);
}
