body {
  background-color: #ffffff;
}


a {
  text-decoration: none;
  color: black;
}

a:active {
  color: black;
}

a:hover {
  color: black;
}

button:focus {
  outline: none;
}

.modal-button:hover {
  cursor: pointer;
}

